<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true" stopOnFailure='false'>
    <testsuite name="Default">
        <directory>app/tests/phpunit</directory>
    </testsuite>
    <php>
        <get name="flush" value="1"/>
    </php>
</phpunit>
